.para7 {
  text-align: start;
}

.para0 {
  text-align: center;
}

.para4 {
  text-align: justify;
}

.para6 {
}

.span0 {
  font-size: 18.0000pt;
  font-weight: bold;
}

.span5 {
  font-style: italic;
}

.span1 {
  font-style: italic;
}

.span16 {
  font-style: italic;
  font-weight: bold;
}

.span3 {
  font-size: 16.0000pt;
  font-weight: bold;
}

.span9 {
  font-style: italic;
}

.span10 {
  font-size: 16.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span12 {
  text-decoration:  underline;
}
.span15 {
  font-style: italic;
}

.span17 {
  font-variant: small-caps;
}

.span18 {
  font-style: italic;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.body0 p {
  text-indent: 1em;
  padding: 0;
  margin: 0;
}

.frame0 {
  border: none;
  width: 4.4165in;
}

.frame1 {
  border: none;
  width: 3.1528in;
}

.frame3 {
  border: none;
  width: 0.6665in;
}

.frame2 {
  border: none;
  width: 2.3335in;
}

.frame6 {
  border: none;
  width: 3.2500in;
}

.frame4 {
  border: none;
  width: 2.7780in;
}

.frame5 {
  border: none;
  width: 4.2500in;
}

.frame21 {
  border: none;
  width: 4.9720in;
}

.frame7 {
  border: none;
  width: 3.0138in;
}

.frame8 {
  border: none;
  width: 3.2083in;
}

.frame9 {
  border: none;
  width: 2.8890in;
}

.frame10 {
  border: none;
  width: 3.3472in;
}

.frame11 {
  border: none;
  width: 4.4028in;
}

.frame12 {
  border: none;
  width: 4.1528in;
}

.frame13 {
  border: none;
  width: 3.8472in;
}

.frame14 {
  border: none;
  width: 2.9445in;
}

.frame15 {
  border: none;
  width: 2.7638in;
}

.frame22 {
  border: none;
  width: 3.6665in;
}

.frame16 {
  border: none;
  width: 5.1390in;
}

.frame17 {
  border: none;
  width: 3.5138in;
}

.frame18 {
  border: none;
  width: 2.6110in;
}

.frame19 {
  border: none;
  width: 3.2362in;
}

.frame20 {
  border: none;
  width: 2.9583in;
}

.frame23 {
  border: none;
  width: 2.3193in;
}
