.para0 {
  text-align: justify;
}

.para2 {
  text-align: center;
}

.para5 {
  text-align: right;
}

.para10 {
  line-height: 150.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: start;
  text-indent: 0.0783in;
}

.span1 {
  font-size: 18.0000pt;
  font-weight: bold;
}

.span5 {
  font-size: 16.0000pt;
  font-weight: bold;
}

.span12 {
  font-style: italic;
}


.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.body0 p {
  text-indent: 1em;
  margin: 0;
  padding: 0;
}

.frame7 {
  border: none;
  width: 3.0555in;
}

.frame0 {
  border: none;
  float: left;
  width: 4.2402in;
}

.frame2 {
  border: none;
  width: 3.3193in;
}

.frame6 {
  border: none;
  width: 2.7780in;
}

.frame1 {
  border: none;
  width: 2.8472in;
}

.frame11 {
  border: none;
  width: 2.5280in;
}

.frame3 {
  border: none;
  width: 3.9862in;
}

.frame4 {
  border: none;
  width: 0.6665in;
}

.frame5 {
  border: none;
  width: 2.9862in;
}

.frame14 {
  border: none;
  width: 2.6528in;
}

.frame8 {
  border: none;
  width: 3.6252in;
}

.frame9 {
  border: none;
  width: 3.1110in;
}

.frame10 {
  border: none;
  width: 2.1945in;
}

.frame12 {
  border: none;
  width: 2.3193in;
}

.frame18 {
  border: none;
  width: 4.1390in;
}

.frame13 {
  border: none;
  width: 3.4445in;
}

.frame15 {
  border: none;
  width: 2.7083in;
}

.frame16 {
  border: none;
  width: 2.7638in;
}

.frame17 {
  border: none;
  width: 2.0972in;
}
