.para0 {
  text-align: justify;
  text-indent: 1em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.para8 {
  text-align: start;
}

.para1 {
  text-align: center;
}

.para7 {
  text-align: justify;
}

.span0 {
  font-size: 18.0000pt;
  font-weight: bold;
}

.span7 {
  font-style: italic;
}

.span1 {
  font-style: italic;
}

.span3 {
  font-size: 16.0000pt;
  font-weight: bold;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.frame0 {
  border: none;
  width: 5.8335in;
}

.frame1 {
  border: none;
  width: 0.6665in;
}

.frame6 {
  border: none;
  width: 3.8543in;
}

.frame2 {
  border: none;
  width: 3.2398in;
}

.frame16 {
  border: none;
  width: 2.6980in;
}

.frame7 {
  border: none;
  width: 3.5311in;
}

.frame3 {
  border: none;
  width: 3.1043in;
}

.frame4 {
  border: none;
  width: 3.8126in;
}

.frame5 {
  border: none;
  width: 3.2709in;
}

.frame8 {
  border: none;
  width: 2.8437in;
}

.frame9 {
  border: none;
  width: 2.7398in;
}

.frame10 {
  border: none;
  width: 3.4791in;
}

.frame11 {
  border: none;
  width: 3.1146in;
}

.frame12 {
  border: none;
  width: 3.5000in;
}

.frame13 {
  border: none;
  width: 3.5520in;
}

.frame14 {
  border: none;
  width: 2.8020in;
}

.frame15 {
  border: none;
  width: 3.3020in;
}

.frame17 {
  border: none;
  width: 4.4272in;
}
